/* Éléments principaux */

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

header img {
    width: 150px;
}

#navigation {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 0 15px;
}

#navigation a {
    margin-right: 15pxx;
    color: black;
    text-decoration: none;
}

#navigation nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription a {
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

#inscription a:hover {
    color: black;
}

/* main */

main {
    display: flex;
    flex-direction: column;
}

#recherche {
    margin: 0 20px;
}

#recherche form i {
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background-color: #F2F2F2;
    color: black;
}

input[type=search] {
    border: 1px solid #F2F2F2;
    padding: 10px;
    margin-left: -5px;
}

input[type=submit] {
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    margin-left: -5px;
    color: white;
    background-color: #0065FC;
}

input[type=submit]:hover {
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    color: black;
}

#filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filtres ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

#filtres li {
    margin: 5px 15px 5px 0;
    padding-right: 15px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
}

#filtres i {
    border: 3px solid #DEEBFF;
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
    color: #0065FC;
    background-color: #DEEBFF;
}

#info i {
    border: 3px solid #F2F2F2;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    color: #0065FC;
}

/* Hébergements */

#hebergements {
    display: flex;
    justify-content: space-between;
}

#hebergements_marseille {
    background-color: #F2F2F2;
    padding: 0 20px;
    border-radius: 20px;
    flex: 1;
    margin: 10px;
}

#hotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chambre {
    background-color: white;
    width: 220px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 10px;
}

.chambre img {
    width: 220px;
    height: 120px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.chambre figcaption {
    font-weight: bold;
}

.chambre figcaption,
p {
    padding-left: 10px;
}

.chambre p {
    margin: 3px 0;
    font-size: 0.9em;
}

.chambre i {
    color: #0065FC;
}

#hebergements aside {
    background-color: #F2F2F2;
    padding: 0 20px;
    border-radius: 20px;
    margin: 10px;
}

#titre_pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#populaire {
    display: flex;
    flex-direction: column;
}

.chambre_pop {
    background-color: white;
    width: 290px;
    height: 120px;
    border: 3px solid white;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.chambre_pop img {
    width: 110px;
    height: 120px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#texte_pop {
    position: relative;
}

.chambre_pop figcaption {
    font-weight: bold;
}

.chambre_pop figcaption,
p {
    padding-left: 10px;
}

.chambre_pop p {
    margin: 3px 0;
    font-size: 0.9em;
}

.chambre_pop p:last-child {
    position: absolute;
    bottom: 3px;
}

.chambre_pop i {
    color: #0065FC;
}

/* Activités */

#activites {
    margin: 20px;
}

#activites_marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activites_marseille_colonne {
    display: flex;
    flex-direction: column;
}

.lieu_marseille {
    background-color: white;
    width: 250px;
    box-shadow: 5px 5px 20px #F2F2F2;
    border-radius: 20px;
    margin: 10px;
}

.lieu_marseille img {
    width: 250px;
    height: 300px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites_marseille_colonne img {
    height: 120px;
}

.lieu_marseille figcaption {
    font-weight: bold;
    padding: 10px;
}

/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 30px;
}

footer div {
    flex: 1;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    margin: 10px 0 10px -40px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #0065FC;
}