/* Éléments principaux */

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1200px;
    margin: auto;
}

/* Header */

#en_tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

header img {
    width: 125px;
}

#navigation {
    display: flex;
    align-items: center;
}

#nav_smartphone {
    display: none;
}

#navigation nav {
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100px;
    margin: auto 0;
}

nav ul li {
    padding: 37px 15px;
}

#navigation a {
    color: black;
    text-decoration: none;
    padding: 37px 0;
}

#navigation nav li:hover {
    border-top: 3px solid #0065FC;
}

#navigation nav li a:hover {
    color: #0065FC;
}

#inscription a {
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

#inscription a:hover {
    color: black;
    border-top: 3px solid black;
}

/* main */

main {
    display: flex;
    flex-direction: column;
}

main a {
    color: black;
    text-decoration: none;
}

#recherche {
    margin: 0 20px;
}

#recherche p {
    padding: 0;
}

#recherche form label {
    border: 2px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    padding: 7px 10px 10px 10px;
    background-color: #F2F2F2;
}

input[type=search] {
    border: 2px solid #F2F2F2;
    padding: 10px 15px;
    margin-left: -5px;
    font-weight: bold;
}

button[type=submit] {
    border: 2px solid #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 10px 12px;
    margin-left: -5px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}

button[type=submit]:hover {
    border: 2px solid #F2F2F2;
    background-color: #DEEBFF;
    color: black;
    transition: all 0.5s;
}

#rechercher_logo {
    display: none;
}

#filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filtres ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

#filtres li {
    margin: 5px 15px 5px 0;
}

input[type=checkbox].filtres {
    display: none;
}

input[type=checkbox].filtres+label {
    padding: 10px 15px 10px 0;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    font-weight: bold;
}

input[type=checkbox].filtres+label i {
    border: 3px solid #DEEBFF;
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: -1px;
    color: #0065FC;
    background-color: #DEEBFF;
    min-width: 15px;
}

input[type=checkbox].filtres:hover+label i {
    border: 3px solid #0065FC;
    color: #DEEBFF;
    background-color: #0065FC;
    transition: all 0.5s;
}

input[type=checkbox].filtres:checked+label {
    background-color: #DEEBFF;
    color: #0065FC;
    transition: all 0.5s;
}

input[type=checkbox].filtres:checked+label i {
    border: 3px solid #0065FC;
    color: #DEEBFF;
    background-color: #0065FC;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#info i {
    border: 3px solid #F2F2F2;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    color: #0065FC;
}

/* Hébergements */

#hebergements {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#hebergements h1 {
    display: none;
}

#hebergements_marseille {
    background-color: #F2F2F2;
    padding: 0 20px;
    border-radius: 20px;
    flex: 1;
    margin: 10px;
}

#hebergements_marseille h2 {
    margin: 30px 0 10px 15px;
    font-size: 1.3em;
}

#hebergements_marseille h4 {
    margin: 20px 0 30px 15px;
}

#hebergements_marseille h4 a:hover {
    color: #0065FC;
}

#hotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chambre {
    background-color: white;
    width: 220px;
    border: 4px solid white;
    border-radius: 20px;
    margin: 10px;
}

.chambre:hover {
    box-shadow: 5px 5px 5px gray;
    transition: all 0.5s;
}

.chambre figure {
    margin: 0;
}

.chambre img {
    width: 220px;
    height: 120px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.chambre figcaption {
    font-weight: bold;
    font-size: 0.9em;
    padding: 0 10px;
    margin-top: 5px;
}

.chambre p {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 0.7em;
}

.star1 {
    color: #0065FC;
}

.star2 {
    color: rgba(128, 128, 128, 0.5);
}

#hebergements aside {
    background-color: #F2F2F2;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
    margin: 10px;
}

#titre_pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 0 15px;
    /* font-size: 1.3em; */
}

#titre_pop h2 {
    font-size: 1.3em;
}

#populaire {
    display: flex;
    flex-direction: column;
}

.chambre_pop {
    background-color: white;
    width: 290px;
    height: 128px;
    border: 4px solid white;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.chambre_pop:hover {
    box-shadow: 5px 5px 5px gray;
    transition: all 0.5s;
}

.chambre_pop figure {
    margin: 0;
}

.chambre_pop img {
    width: 110px;
    height: 128px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}

.chambre_pop figcaption {
    font-weight: bold;
    font-size: 0.9em;
    padding: 5px 15px;
}

.chambre_pop p {
    margin: 5px 0;
    font-size: 0.7em;
}

.chambre_pop p:last-child {
    position: absolute;
    bottom: 0px;
    left: 120px;
}

/* Activités */

#activites {
    margin: 20px;
}

#activites h2 {
    margin-left: 15px;
}

#activites_marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activites_marseille_part {
    display: flex;
}

.activites_marseille_colonne {
    display: flex;
    flex-direction: column;
}

.lieu_marseille {
    background-color: white;
    width: 250px;
    box-shadow: 5px 5px 20px #F2F2F2;
    border-radius: 20px;
    margin: 10px 15px;
}

.lieu_marseille:hover {
    box-shadow: 5px 5px 5px gray;
    transition: all 0.5s;
}

.lieu_marseille figure {
    margin: 0;
}

.lieu_marseille img {
    width: 250px;
    height: 310px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: 50% 35%;
}

.lieu_marseille figcaption {
    font-size: 0.9em;
    margin: 5px;
}

.activites_marseille_colonne img {
    height: 120px;
}

img.r1 {
    height: 165px;
}

img.r2 {
    height: 75px;
}

.lieu_marseille figcaption {
    font-weight: bold;
    padding: 10px;
}

/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
    padding: 35px;
}

footer div {
    flex: 1;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    margin: 10px 0 10px -40px;
    font-size: 0.9em;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #0065FC;
}